body{
  padding: 0;
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  margin: 0;
  padding: 0;
  list-style: none; }
h3 {
  margin: 0;
  padding: 0;
  list-style: none; }

h4 {
  margin: 0;
  padding: 0;
  list-style: none; }

h5 {
  margin: 0;
  padding: 0;
  list-style: none; }

h6 {
  margin: 0;
  padding: 0;
  list-style: none; }

p {
  margin: 0;
  padding: 0;
  list-style: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

li {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none !important;
  text-decoration: none !important; 
}

input {
  outline: none !important; 
}

button {
  outline: none !important; 
}
img{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/*========= Hero Section Css ===========*/


 .nav_header{
   background: #FFF;
   overflow: hidden;
   padding: 25px 0px;
 } 
.container_custom {
    margin: auto;
    max-width: 1170px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
} 

.logo_area {
  width: 50%;
  float: left;
  overflow: hidden;
}
.menu_area {
  width: 50%;
  float: left;
  overflow: hidden;
}
.menu_area ul {
  float: right;
}
.menu_area ul li {
  display: inline;
}
.menu_area ul li a {
  font-weight: 500;
  font-size: 16px;
  line-height: 33px;
  color: #0F2137;
  margin-left: 48px;
  display: inline-block;
  transition: 0.5s;
  border-bottom: 5px solid transparent;
}
.menu_area ul li a:hover{
  color: #28DCB2;
  transition: 0.5s;
  border-bottom: 5px solid #28DCB2;
}
/*Hero Css */

.hero_section{
  background: #FFF;
  padding-top: 90px;
  padding-bottom: 109px;
  overflow: hidden;
}
.hero_content {
  width: 50%;
  float: left;
  overflow: hidden;
  padding-right: 90px;
}
.hero_image {
  width: 50%;
  float: left;
  position: relative;
  z-index: 1;
}

.hero_image::after {
  position: absolute;
  content: "";
  width: 302px;
  height: 347px;
  background: url('../photos/hero/hero-dot-overlay.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  top: -51px;
  right: -91px;
  z-index: -1;
}

.hero_content h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 80px;
  letter-spacing: -1px;
  color: #02073E;
  padding-bottom: 19px;
}
.hero_content p {
  font-size: 18px;
  line-height: 42px;
  color: #02073E;
  padding-bottom: 47px;
}
.explore_btn a {
  background: #28DDB2;
  border-radius: 6px;
  font-weight: 700;
  font-size: 18px;
  line-height: 10px;
  text-align: center;
  color: #FFFFFF;
  padding: 25px 31px;
  display: inline-block;
  transition: 0.5s;
}

.explore_btn a:hover {
  background: #4F96FF;
  transition: 0.5s;
}

.explore_btn {
  padding-bottom: 48px;
}
.client_logo ul li {
  display: inline;
}
.client_logo ul li a{
  margin-right: 28px;
  display: inline-block;
}

/*Go Beyond unlimited*/

.unlimited_section {
  padding-top: 101px;
  padding-bottom: 179px;
  background: #FFF;
  overflow: hidden;
}
.unlimited_title {
  max-width: 583px;
  margin: auto;
  text-align: center;
  overflow: hidden;
  padding-bottom: 90px;
}
.unlimited_title h1 {
  font-weight: 500;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  letter-spacing: -0.5px;
  color: #0F2137;
  padding-bottom: 10px;
}
.unlimited_title p {
  font-size: 16px;
  line-height: 35px;
  text-align: center;
  color: #0F2137;
}
.unlimited_single_item {
  width: 19%;
  float: left;
  margin: 3%;
  overflow: hidden;
}
.un_content_top h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  color: #0F2137;
  padding-bottom: 25px;
}
.un_content_top p {
  line-height: 30px;
  color: #343D48;
}

/*Smart Css */
.smart_section{
  background: #F9FAFC;
  padding-top: 171px;
  padding-bottom: 120;
  overflow: hidden;
}
.smart_box_full_area{
  width: 60%;
  float: left;
}

.smart_single_item {
  width: 86%;
  float: left;
  background: white;
  box-sizing: border-box;
  margin: 0px 45px 45px 45px;
  box-shadow: 0px 25px 100px rgba(69, 88, 157, 0.08);
  border-radius: 10px;
}
.item_tow{
  margin-top: -30px;
}

.smart_left_box {
  width: 50%;
  float: left;
}
.smart_right_box {
  width: 50%;
  float: left;
  margin-top: -60px;
}
.un_content {
  padding: 95px 61px;
  text-align: center;
}
.un_content h1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 55px;
  text-align: center;
  letter-spacing: -1.5px;
  color: #28D1DC;
  padding-bottom: 20px;
}

.smart_left_box .smart_single_item:nth-child(2) .un_content h1{
  color: #FA578E;
}
.smart_right_box .smart_single_item:nth-child(1) .un_content h1{
  color: #FF753A;
}
.smart_right_box .smart_single_item:nth-child(2) .un_content h1{
  color: #28DCB2;
}
.smart_content_area {
  width: 40%;
  float: left;
}
.right_content_smart {
  padding-left: 80px;
}
.right_content_smart h1 {
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: -1.5px;
  color: #0F2137;
}

.right_content_smart p {
  font-size: 17px;
  line-height: 42px;
  color: #02073E;
  padding-top: 40px;
  padding-bottom: 20px;
}

.export_btn {
  margin-top: 25px;
}
.export_btn a {
  font-weight: 700;
  font-size: 16px;
  line-height: 42px;
  color: #4F96FF;
  display: inline-block;
}
.right_content_smart ul li{font-weight: 500;font-size: 16px;line-height: 45px;color: #02073E;}
.right_content_smart ul li img{margin-right: 10px;}

/*Amazing Area Css */
.amazing_area_section {
  background: #F9FAFC;
  padding-top: 100px;
  padding-bottom: 100px;
  overflow: hidden;
}
.amazing_single_item {
  width: 46%;
  float: left;
  margin: 2%;
}

.az_icon {
  width: 20%;
  float: left;
}
.az_content {
  width: 80%;
  float: left;
}

/*Pricing Css area */
.pricing_section_area{
  background: #FFF;
  padding-top: 120px;
  padding-bottom: 120px;
}
.pricing_title{
  max-width: 583px;
  width: 100%;
  margin: auto;
  text-align: center;
  padding-bottom: 43px;
}
.pricing_title h1{
  font-weight: 500;
font-size: 30px;
line-height: 50px;
text-align: center;
letter-spacing: -0.5px;
color: #0F2137;

}
.pricing_title p{
  line-height: 35px;
  text-align: center;
  color: #0F2137;
 padding-top: 10px;

}
.pricing_monthly_area {
  max-width: 302px;
  width: 100%;
  margin: auto;
  margin-bottom: 51px;
}
.pricing_monthly_content {
  background: #F7F8FB;
  padding: 6px;
  border-radius: 8px;
}
.pricing_monthly_content ul li a {
  background: #FFFFFF;
  box-shadow: 0px 3px 3.8px rgba(38, 78, 118, 0.1);
  text-align: center;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.24px;
  color: #0F2137;
  padding: 16px 26px;
  border-radius: 8px;
}
.pricing_monthly_content ul li {
  display: inline;
  text-align: center;
}

.pricing_monthly_content ul li:last-child a{
  background: transparent;
  box-shadow: 0px 3px 3.8px transparent;
  transition: 0.5s;
}

.pricing_monthly_content ul li:last-child a:hover{
  background: #000;
  color: #FFF;
  box-shadow: 0px 3px 3.8px rgba(38, 78, 118, 0.1);
  transition: 0.5s;
}
.pricing_monthly_content ul li a:hover {
 background: #000;
  color: #FFF;
  box-shadow: 0px 3px 3.8px rgba(38, 78, 118, 0.1);
  transition: 0.5s;
}
.pricing_monthly_content{
  position: relative;
}
.pricing_monthly_content p {
  position: absolute;
  top: -13px;
  right: 28px;
  font-weight: 700;
  font-size: 13px;
  line-height: 28px;
  letter-spacing: -0.14px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #36CDA4;
  border-radius: 50px;
  padding: 2px 15px;
  z-index: 2;
}
.pricing_plan_item {
  width: 48%;
  float: left;
  overflow: hidden;
  margin: 1%;
}
.pricing_plan_content {
  padding: 21px 40px 50px 40px;
  border: 3px solid #36CDA4;
  border-radius: 12px;
}
.pricing_plan_title {
  padding-bottom: 60px;
}
.pricing_plan_title p {
  color: #343D48;
  padding-top: 6px;
}
.pricing_plan_title h3 {
  font-weight: 700;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: -0.55px;
  color: #0F2137;
}
.check_content p {
  color: #343D48;
  font-size: 14px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.item_list_area {
  margin-bottom: 30px;
}
.check_icon {
  width: 8%;
  float: left;
  overflow: hidden;
}
.check_content {
  width: 92%;
  float: left;
  overflow: hidden;
}
.item_list_area {
  margin-bottom: 30px;
  overflow: hidden;
  padding-right: 64px;
}
.trail_btn a {
  background: #FCF2E8;
  border-radius: 5px;
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.16px;
  color: #EF9E48;
  max-width: 210px;
  width: 100%;
  padding: 13px 5px;
}
.pre_tt {
  padding-bottom: 18px;
}
.pre_tt p {
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: -0.14px;
  color: #FFFFFF;
  background: #EF9E48;
  border-radius: 3px;
  padding: 2px 8px;
  display: inline-block;
}
.premium_content {
  width: 50%;
  float: left;
}
.premium_price {
  width: 50%;
  float: left;
  text-align: right;
}
.premium_area {
  margin-bottom: 57px;
  overflow: hidden;
}
.premium_price strong {
  letter-spacing: -0.55px;
  color: #25CB9E;
  font-weight: 700;
  font-size: 26px;
  line-height: 34px;
}
.trail_btn {
  text-align: center;
}

.pricing_plan_item:first-child .pricing_plan_content {
  padding-top: 75px;
}


/*Pricing Css area */